extends layout

block content
  .row.banner
    .col-12
      h1= title
  .row
    .col-12.col-lg-8
      p
        | ForumBoard is your new online community to meet new friends and engage in thought-provoking discussion.
        | <br /><br />
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde rerum obcaecati suscipit, voluptatem consequatur ab adipisci facere, nobis fugit totam quibusdam laudantium dolor commodi quo asperiores perferendis ducimus numquam eius?
        | <br /><br />
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem molestias hic tempora culpa minima quisquam commodi labore ipsum odit nostrum distinctio, asperiores perspiciatis vero amet, provident, neque inventore voluptas ea?